# ========================
# SERVER CONFIGURATION
# ========================
PORT=15976
HOST=localhost
APP_BASE_URL=http://localhost:15976
NODE_ENV=development

# ========================
# DATABASE CONFIGURATION
# ========================
DATABASE_URL="postgresql://user:password@localhost:5432/crm_db?schema=public"

# ========================
# JWT CONFIGURATION
# ========================
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_ACCESS_EXPIRES_IN=15m

JWT_SESSION_SECRET=your_super_secret_session_key
JWT_SESSION_EXPIRES_IN=5m

JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d
